[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jskm"]
	path = jskm
	url = https://github.com/cran/jskm
[submodule "jsmodule"]
	path = jsmodule
	url = https://github.com/jinseob2kim/jsmodule
[submodule "jstable"]
	path = jstable
	url = https://github.com/jinseob2kim/jstable
